.strike{
    text-decoration: line-through;
}

.inside{
    display: flex;
    padding-right: 30px;
    margin-right: 30px;
    /* border: solid black 2px; */
    justify-content: space-between;
}

.outside{
    font-size: 16px;
    display: flex;
    padding: 30px;
    margin: 30px;
    border: solid #2a2b29 2px;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #c2da81;
    


}

button{
    padding: 3px 10px;
    border: solid 1px var(--primary-color);
    background: #4a5f0f;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* margin: 10px; */
}
button:hover{
    background-color:#9dc03c ;
    color: #2a2b29;
    border: solid black 1px;
}
label{
    margin-left: 10px;
    /* border: solid 2px black; */
}