h1 {
    text-align: center;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 15px;
    background-color: #c2da81;
    margin: auto;
    margin-top: 10px;
    width: 70%;
    padding: 20px;

}